.om-code-block {
  position: relative;
  margin-bottom: 0px !important;
  min-height: 40px;
}

.om-code-block:hover .om-copy-btn {
  display: inline-flex;
}

.om-copy-btn {
  right: 2px;
  top: 2px;
  display: none;
  position: absolute;
  background-color: white;
  width: 26px;
  height: 26px;
  border-radius: 4px;
  transition: all 0.1s;
  border: 1px grey solid;
  margin: 3px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

[data-theme="dark"] .om-copy-btn {
  background-color: #131314;
  color: white;
}

[data-theme="dark"] .om-copy-btn:hover {
  background-color: #1f1f1f;
}

.om-copy-btn:hover {
  background-color: rgb(225, 225, 225);
}

.om-copy-btn:active {
  transform: scale(1.1);
}

.om-copy-btn-container {
  width: 100%;
  left: 0;
  position: sticky;
}
